@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$primary-dark: #0b0b0b;
$secondary-dark: #111111;
$light: #ffffff;
$grey: #777777;
$text-grey: #65717c;
$green: #5cfc00;
$red: #f9000e;
$disabled: #65717c;
$font-inter: "Inter";
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
body {
    font-family: $font-inter;
    font-weight: 400;
    max-height: 100vh;
    overflow: hidden;
    background-color: $primary-dark;
}
.flex-c {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.disabled {
    color: $disabled !important;
     &:hover {
                border-left: transparent;
                background-color: transparent;
            }
}
button {
    border:transparent;
    &::hover,
     &::focus,
    &::focus-visible {
        outline: none !important;
    }
}
aside{
    max-width:130px;
}
.dashboard-content{
    display: flex;
}
