@import "./variables";
.side-board {
    height: 93vh;
    background-color: $secondary-dark;
    max-width: 130px;
     padding-top: 30px;
    .disabled-line {
        width: 50px;
        height: 1px;
        margin: 5px auto;
        background-color: $disabled;
    }

    .side-button {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
        max-width: 130px;
        height: 90px;
        background-color: transparent;
        border-left: 5px solid transparent;
        margin: 3px auto;
        text-decoration: none;

        border-right: 5px solid transparent;
        
        .icon {
            color: $light;
            width: 25px;
        }

        .title {
            font-size: 15px;
            text-transform: uppercase;
            color: $light;
            text-align: center;
        }

        &:hover {
            border-left: 5px solid $red;
            background-color: #272727;
        }

        &.active {
            border-left: 5px solid $red;
            background-color: #272727;
        }
    }
    .disabled {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        &:hover {
            background-color: transparent;
            border-left: 5px solid transparent;
        }
    }
}
